.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 100vw;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textEditor {
  flex: 1;
	background: #efefef;
  height: 100%;
}
.textEditor > textarea {
  width: 100%;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
}
.preview {
  flex: 1;
  background: #f8f8f8;
  height: 100%;
}